/*ОБНУЛЕНИЕ*/

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

* {
    z-index: 1;
}
/*--------------------------*/

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    color: white;
    display: block;
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 2%;
}

.container {
    margin: 0 auto;
}

.header {
    width: 100%;
}

.header__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    width: 400px;
}

.header__logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo a img {
    height: 140px;
}

.header__logo a p {
    font-weight: 500;
    letter-spacing: 3px;
    margin-left: 10px;
    font-size: 35px;
    color: white;
}

.header__myname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.header__myname a:nth-child(1) {
    font-weight: 400;
}

.header__myname a:nth-child(2) {
    font-weight: 500;
}

.header__myname a p {
    color: white;
    font-size: 35px;
    letter-spacing: 3px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: inherit;
    height: 100%;
    overflow: hidden;
    justify-content: space-evenly;
}

hr {
    width: 100%;
    margin: 20px 0;
}

.works_div .obl {
    mix-blend-mode: normal;
    height: 355px;
}

.works_div {
    background-color: black;
}

.works_list {
    margin: 0 2%;
}

.bg-obl {
    background-color: white;
    height: 355px;
    margin-top: -358px;
    border-radius: 12px;
}

.works_div {
    margin: 10px;
    border-radius: 12px;
    outline: solid 2px #fff;
    outline-offset: -2px;
    z-index: 10;
}

td {
    border: 1px solid white;
    padding: 5px;
}

.works-text {
    display: flex;
    justify-content: space-between;
}

.works-text p {
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 0;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 7px;
    text-align: left;
    font-weight: 600;
}

.first-item-text {
    border: 2px solid white;
    border-radius: 5px;
}

.works_div img {
    border-radius: 12px;
}

.wrapper__proj {
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.main-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-logo video {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.main-menu {
    width: 100%;
    display: flex;
}

.main-menu__panel {
    margin: 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.menu {
    width: 100%;
}

.main-menu__panel a {
    color: white;
    text-decoration: overline underline;
    font-size: 25px;
    display: flex;
    height: max-content;
    align-items: center;
    padding: 10px;
}

.footer {
    width: 100%;
}

.footer__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.footer__hashtag {
    display: flex;
    align-content: center;
    align-items: center;
}

.footer__hashtag p {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 3px;
}

.footer__scroll-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__scroll-info p {
    opacity: 50%;
    font-size: 20px;
}

.footer__scroll-info img {
    height: 40px;
}

.footer__links {
    width: max-content;
    flex-shrink: 0;
}

.footer__links a img {
    height: 40px;
    width: 40px;
    margin-left: 40px;
}

.patch-list {
    width: 100%;
}

.patch-item {
    width: 100%;
    display: flex;
}

.patch-datatime > p {
    font-size: 20px;
    font-weight: bold;
    margin: 30px 10px 30px 0;
}

.patch-datatime {
    display: flex;
}

details {
    max-width: 50%;
    font-size: 18px;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin: 20px 0;
}

summary {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 10px;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

.hide {
    display: none;
}

.hide-anim {
    animation: hideBlock 0.1s linear forwards;
}

.show {
    display: block;
    animation: showBlock 0.2s linear forwards;
}

@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hideBlock {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.dg {
    display: none;
}

#app {
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-logo > div:nth-child(1) > canvas:nth-child(1) {
    height: 955px;
    width: 1920px;
}

#main-logo > div:nth-child(1) > canvas:nth-child(1) {
    width: auto;
    height: inherit;
}

#main-logo > div:nth-child(1) > canvas:nth-child(2) {
    display: none;
}

.logo-svg {
    position: absolute;
    z-index: 2;
}

.logo-svg img {
    height: 650px;
}

/* Smartphones-vertical  ----------- */

@media (orientation: portrait) {
    body {
        font-family: "Roboto", sans-serif;
        background-color: #000;
        color: white;
        display: block;
        width: 100%;
        min-height: 100%;
        margin: 0;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        min-height: 100%;
        padding: 2%;
    }

    .header__logo {
        width: 550px;
    }

    .header__logo a img {
        height: 60px;
    }

    .header__logo a p {
        font-weight: 500;
        letter-spacing: 3px;
        margin-left: 10px;
        font-size: 20px;
        color: white;
    }

    .header__myname a p {
        color: white;
        font-size: 20px;
        letter-spacing: 3px;
    }

    .main-menu__panel {
        margin: 2% 0;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: space-around;
    }

    .main-menu__panel {
        justify-content: space-evenly;
    }

    .main-menu__panel a {
        color: white;
        text-decoration: overline underline;
        font-size: 30px;
        line-height: 60px;
    }

    .footer__hashtag p {
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 3px;
    }

    .footer__links a img {
        height: 32px;
        width: auto;
        margin-left: 10px;
    }

    .bg-obl {
        background-color: white;
        border-radius: 12px;
    }

    .obl {
        mix-blend-mode: luminosity;
        height: 410px;
    }

    .works-text p {
        font-size: 16px;
        color: white;
        margin: 0;
        padding: 0;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 7px;
        margin-right: 7px;
        text-align: left;
        font-weight: 600;
    }

    .works_list {
        margin: 0 55px;
    }

    summary {
        font-size: 30px;
    }

    details {
        max-width: 100%;
    }

    .footer__links {
        width: auto;
        flex-shrink: 0;
    }

    .patch-datatime {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .patch-datatime > p {
        font-size: 20px;
        font-weight: bold;
        margin: 0 10px 10px 0;
    }

    .patch-text {
        font-size: 24px;
    }

    .main-menu {
        height: 100%;
    }

    .footer__scroll-info {
        margin-bottom: 23px;
    }

    .footer__scroll-info p {
        font-size: 14px;
    }

    .footer__scroll-info img {
        height: 30px;
    }

    .menu {
        width: 100%;
        height: 100%;
    }

    .logo-svg img {
        height: 345px;
    }

    #app {
        height: 400px;
        width: 200px;
    }
}
